[Desktop Entry]
Name = Cameras
GenericName = Cameras
Comment = Widgets for cameras
Exec = /opt/extras.ubuntu.com/cameras/bin/cameras
Icon = /opt/extras.ubuntu.com/cameras/share/icons/cameras.svg
Type = Application
Terminal = false
StartupNotify = true
Encoding = utf-8
Categories = Utility;
Keywords=camera;webcam;
